<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<p>
		<span th:text="${'Hey '+donor.getName()}"
			style="color: #ffd966; font-size: xx-large;"><strong></strong></span>
	</p>
	<div>
		<span style="font-size: large;">&nbsp;</span>
	</div>
	<div>
		<span style="font-size: large;">Thank you so much for your
			donation during these trying times. To put things into perspective
			for you, your action has just bought almost one-week worth meal for
			the family of a daily wager.<br /> <br /> <em><strong>However,
					there are countless daily wagers left who still need our immediate
					help.</strong></em><br /> <br />We would like to request you of one little
			favor. We have and want to feed so many more families, and we have to
			reach more and more people with our program.<br /> <br /> <span
			style="text-decoration: underline;"><strong><span
					style="color: #f1c232;">If you can kindly follow and/or
						share our page and posts on any of the&nbsp;following social
						media, we will be extremely grateful.</span></strong></span>&nbsp;
		</span>
	</div>
	<div>
		<span style="font-size: large;">&nbsp;</span>
	</div>
	<div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">Instagram:&nbsp;</span><a
				href="https://www.instagram.com/fordailywagers/" target="_blank"
				data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/fordailywagers/&amp;source=gmail&amp;ust=1590672460785000&amp;usg=AFQjCNGqcBcEmCW8ErXaqnq5OYg06gBGmQ"><span
				style="font-family: arial, sans-serif; font-size: large;">https://www.instagram.com/fordailywagers/</span></a>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">&nbsp;</span>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">LinkedIn:&nbsp;</span><a
				href="https://www.linkedin.com/company/fordailywagers/"
				target="_blank"
				data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/fordailywagers/&amp;source=gmail&amp;ust=1590672460785000&amp;usg=AFQjCNEPEVbuw5KpBMo6gWVVPQgmQu6FUA"><span
				style="font-family: arial, sans-serif; font-size: large;">https://www.linkedin.com/company/fordailywagers/</span></a>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">&nbsp;</span>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">Facebook:&nbsp;<a
				href="https://www.facebook.com/fordailywagers/" target="_blank"
				data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/fordailywagers/&amp;source=gmail&amp;ust=1590672460785000&amp;usg=AFQjCNFiEIeEYi3o1w5I4UEuIQZLWVLpmg">https://www.facebook.com/fordailywagers/</a></span>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">&nbsp;</span>
		</div>
		<div dir="auto">
			<span style="font-family: arial, sans-serif; font-size: large;">Twitter:&nbsp;</span><a
				href="https://twitter.com/Fordailywagers" target="_blank"
				data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/Fordailywagers&amp;source=gmail&amp;ust=1590672460785000&amp;usg=AFQjCNH8l3hkZ8Wl5WDX_SvLGbVNxH5W_Q"><span
				style="font-family: arial, sans-serif; font-size: large;">https://twitter.com/Fordailywagers</span></a>
		</div>
	</div>
	<div>
		<span style="font-size: large;">&nbsp;</span>
	</div>
	<div>
		<span style="font-size: large;"><span
			style="text-decoration: underline;"><strong>Even if
					one more person donates because of you</strong></span>, and that person brings
			another person to donate, it will be a chain of hope you have begun.<br />
			<br />Once again, we thank you for being the beautiful and lovely
			person you are!</span>
	</div>



</body>
</html>

