<p>
	<span style="color: #ffd966; font-size: xx-large;"><strong>Hey
			<span class="il" th:text="${donor.getName()}"></span>,
	</strong></span>
</p>
<div>
	<span style="font-size: large;">We just want to remind you that
		your&nbsp;<span style="text-decoration: underline;">donation
			hasn't been processed</span>&nbsp;yet. Is everything ok?
	</span>
</div>
<div>
	<span style="font-size: large;">&nbsp;</span>
</div>
<div>
	<span style="font-size: large;">If you can kindly place the
		order as soon as possible, it's one family that can receive their
		package early.&nbsp;</span>
</div>
<div>
	<span style="font-size: large;"><br />If you have any trouble
		or problem with the process, feel free to reach out to us.&nbsp;</span>
</div>
<div>&nbsp;</div>
<div>
	<span style="font-size: large;">Let's do the best we can.</span>
</div>
<div>
	<span style="font-size: large;">&nbsp;</span>
</div>
<div>
	<span style="font-size: large;">In case you have already placed
		the order, please reply to this email with the order confirmation.<br />
	</span><br />With Regards,<br />Team DailyBread
</div>